{% extends 'index.html' %}
{% load static %}

{% block content %}

{% if error %}
    <div class="row ">
        <div class="col col-md-8">{{error}}</div>
        
    </div>

{% endif %}
    <form action="" method="POST">
        {% csrf_token %}
        <div class="row form-group">
            <div class="col col-md-3">{{form.username.label}}</div>
            <div class="col-12 col-md-9">{{form.username}}</div>
        </div>
        <div class="row form-group">
            <div class="col col-md-3">{{form.password.label}}</div>
            <div class="col-12 col-md-9">{{form.password}}</div>
        </div>
        
        <input type="submit" value="Iniciar sesión" class="btn btn-primary">
        <a href="{% url 'register' %}" class="btn btn-secondary">Registrarse</a>
        </form>

    

{% endblock %}