{% extends 'index.html' %}
{% load static %}



{% block content %}
<div class="row">
    {% include 'snippets/search.html' %}
</div>
<a href="{% url 'post_app:post_add' %}" class="btn btn-primary btn-lg role="button">Nuevo Post</a> 
    {% if posts|length != 0 %}
        {% for post in posts  %}
            <div class="post-preview">
                <h2 class="post-title"> <a href="{% url 'post_app:detail'  post.pk %}"> {{post.nombre}} </a> </h2>
                <div class="card">
                    <div class="card-body">
                        {{post.contenido |truncatechars:50 }}
                    </div>
                  </div>
              
                <p class="post-meta">Postedo por  <a href="#">{{post.autor}}</a> {{post.fecha_publicacion}}</p>
            </div>

        
        {% endfor %}
    {% else %}
    <div class="row">
        <div class="alert alert-danger alert-dismissible show mt-3">
            <strong>No se Registran Post</strong>
            <a href="{% url 'index' %}" type="button" class="close" data-dismiss="alert" >&times;</a>
        </div>
    </div>
    
    {% endif %}

    {% include 'snippets/paginated.html' %}

    

{% endblock content %}

