{% extends 'index.html' %}
{% load static %}

{% block content %}

{% if error %}
{{error}}
{% endif %}
    <form action="" method="POST">
        {% csrf_token %}
        <div class="row form-group">
            <div class="col col-md-3">{{form.username.label}}</div>
            <div class="col-12 col-md-9">{{form.username}}</div>
        </div>

        <div class="row form-group">
            <div class="col col-md-3">{{form.email.label}}</div>
            <div class="col-12 col-md-9">{{form.email}}</div>
        </div>

        <div class="row form-group">
            <div class="col col-md-3">{{form.password1.label}}</div>
            <div class="col-12 col-md-9">{{form.password1}}</div>
        </div>

        <div class="row form-group">
            <div class="col col-md-3">{{form.password2.label}}</div>
            <div class="col-12 col-md-9">{{form.password2}}</div>
        </div>
        
        
        
        <input type="submit" value="Crear usuario" class="btn btn-primary">
    <form>
    
{% endblock %}

    

