{% extends 'index.html' %}
{% load static %}



{% block content %}

<div class="post-preview">
    <h2 class="post-title"> <a href="{% url 'post_app:detail'  post.pk %}"> {{post.nombre}} </a> </h2>
    <div class="card">
        <div class="card-body">
            {% if post.imagenes %}
              <div class="row">
                {% for ima in post.imagenes.all %}
                  
                <div class="col-xs-6 col-md-3">
                    <img src="{{ ima.img.url }}" width="140" height="140" alt="{{ ima.img }}">
                  </div>
                {% endfor %}
                
              </div>
            {% endif %}
            {{post.contenido}}
        </div>
      </div>

    <p class="post-meta">Postedo por  <a href="#">{{post.autor}}</a> {{post.fecha_publicacion}}</p>


    
</div>



  
  <div class="row">
    <div class="col-8">
      <ul class="pager">
        <li class="next" >
            <a class="btn btn-danger" href="{% url 'post_app:delete' post.id %}" role="button" style="background-color: #c9302c !important">Delete Post&rarr; </a>
        </li>
      </ul>
    </div>
    <div class="col-8">
      <ul class="pager">
        <li class="next">
            <a href="{% url 'post_app:update' post.id %}" class="btn btn-success" role="button" style="background-color: #5cb85c !important">Edit Post&rarr;</a>
        </li>
      </ul>
    </div>
  </div>  





{% endblock %}



