{% extends 'index.html' %}
{% load static %}


{% block content %}
<div class="card">
   <div class="card-header">
      <strong>Nuevo Post</strong>
   </div>
   <div class="card-body card-block">
      <form method="Post" enctype="multipart/form-data" >
      
         {% csrf_token %}
         {{ form.media }}
         
         <div class="row form-group">
            <div class="col col-md-3">{{form.nombre.label}}</div>
            <div class="col-12 col-md-9">{{form.nombre}}</div>
         </div>
         
         <div class="row form-group">
           <div class="col col-md-3">{{form.autor.label}}</div>
           <div class="col-12 col-md-9">{{form.autor}}</div>
         </div>
         
         <div class="row form-group">
            <div class="col col-md-3">{{form.contenido.label}}</div>
            <div class="col-12 col-md-9">{{form.contenido | safe}}</div>
         </div>
         
         <div class="row form-group">
            <div class="col col-md-3">{{form.tema.label}}</div>
            <div class="col-12 col-md-9">{{form.tema}}</div>
         </div>
         
         <div class="row form-group">
           <div class="col col-md-3">{{form.visible.label}}</div>
           <div class="col-12 col-md-9">{{form.visible}}</div>
         </div>

         <br> 
         {{imagen.as_ul}}
         
         <input type="submit" value="enviar" class="btn btn-danger"> 
         <a href="{% url 'post_app:post_list' %}" class="btn btn-primary">Cancel</a>
      </form> 

   </div>

</div> 

   
    

{% endblock content %}