{% extends 'index.html' %}
{% load static %}


{% block content %}
<div class="card">
   <div class="card-header">
      <strong>Nuevo Tema</strong>
      <br>
   </div>
   <div class="card-body card-block">
      <form method="Post">
      
         {% csrf_token %}
         <div class="row form-group">
           <div class="col col-md-3">{{form.categoria.label}}</div>
           <div class="col-12 col-md-9">{{form.categoria}}</div>
         </div>
         <div class="row form-group">
            <div class="col col-md-3">{{form.descripcion.label}}</div>
            <div class="col-12 col-md-9">{{form.descripcion}}</div>
         </div>     
         <!--{{form.as_p}}-->
         <input type="submit" value="enviar"> 
         <input type="reset" value="cancelar">
 
      </form> 

   </div>

</div> 

   
    

{% endblock content %}